<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сканер штрихкода</title>
    <style>
        video {
            width: 100%;
            height: auto;
            border: 1px solid gray;
        }
    </style>
</head>
<body>
    <h1>Сканер штрихкода</h1>
    <video id="video" autoplay playsinline></video>
    <form id="search-form" action="{% url 'inventory:search_equipment' %}" method="get">
        <input type="hidden" name="serial_number" id="serial_number">
    </form>
    <script src="https://unpkg.com/@zxing/library@latest"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const codeReader = new ZXing.BrowserMultiFormatReader();
            
            navigator.mediaDevices.getUserMedia({
                video: {
                    facingMode: "environment",
                    width: { ideal: 1280 },
                    height: { ideal: 720 },
                    focusMode: "continuous"
                }
            }).then(stream => {
                const videoElement = document.getElementById('video');
                videoElement.srcObject = stream;
                videoElement.play();

                codeReader.decodeFromVideoDevice(null, 'video', (result, err) => {
                    if (result) {
                        console.log(result);
                        document.getElementById('serial_number').value = result.text;
                        document.getElementById('search-form').submit();
                        codeReader.reset();
                    }
                    if (err && !(err instanceof ZXing.NotFoundException)) {
                        console.error(err);
                    }
                }).catch((err) => {
                    console.error('Error initializing video stream:', err);
                });
            }).catch(err => {
                console.error('Error accessing user media:', err);
            });
        });
    </script>
</body>
</html>