{% extends 'base.html' %}

{% block content %}
    <h1>Выберите тип оборудования</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="type">Тип оборудования:</label>
            <select name="type" id="type" class="form-control">
                <option value="systemunit">Системный блок</option>
                <option value="monitor">Монитор</option>
                <option value="printer">Принтер</option>
                <option value="mfp">МФУ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Далее</button>
    </form>
{% endblock %}
