<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация об оборудовании</title>
</head>
<body>
    <h1>Информация об оборудовании</h1>
    <p>Модель: {{ equipment.model }}</p>
    <p>Серийный номер: {{ equipment.serial_number }}</p>
    <p>Инвентарный номер: {{ equipment.inventory_number }}</p>
    <p>Номенклатурный номер: {{ equipment.nomenclature_number }}</p>
    <p>Код: {{ equipment.code }}</p>
    <p>Состояние: {{ equipment.get_status_display }}</p>
    <p>Дата покупки: {{ equipment.purchase_date }}</p>
    <p>Дата окончания гарантии: {{ equipment.warranty_expiry_date }}</p>
    <p>Ответственное лицо: {{ equipment.person_in_charge }}</p>
    <p>Склад: {{ equipment.warehouse }}</p>
</body>
</html>